<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EasyNMT</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">
    <nav class="navbar">
        <div class="logo">
    EasyNMT
</div>

    

    <div class="nav-links">

        <a href="#">Можливості</a>

        <a href="#">Предмети</a>

        <a href="#">Ціни</a>

        <a href="#">Увійти</a>

        <a href="/goal" class="start-btn">
            Почати
        </a>

    </div>

</nav>
<div class="hero">

    <div class="logo">
        EasyNMT
    </div>

    <h1>
        Отримай свій персональний план підготовки до НМТ
    </h1>

    <p>
        AI-репетитор, який пам'ятає твій прогрес, аналізує помилки
        та допомагає отримати максимальний бал.
    </p>

    <a href="/goal">
    <button>
        Почати безкоштовно
    </button>
</a>

</div>

</body>

</html>