<!DOCTYPE html>
<html lang="uk">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>EasyNMT</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<div class="logo">
EasyNMT
</div>

<h1>
🎯 Який бал на НМТ ти хочеш отримати?
</h1>

<p>
Обери свою ціль.
</p>

<button>150+</button>

<br><br>

<button>170+</button>

<br><br>

<button>190+</button>

<br><br>

<button>200 ⭐</button>

</div>

</body>

</html>